.post-container {
    border-width: 1px;
    border-color:grey;
    box-shadow: 2px 5px 8px 10px lightgrey;
    padding: 20px;
    margin: 20px;
    width: calc( 100% - 80px );

    .edit-button {
        float:right;
    }
    .delete-button {
        float:right;
        color:red;
    }
}
