<div *ngIf="ngValue" class="post-container">
    <ng-container *ngIf="editMode;then edit_content else view_content"></ng-container>
    <ng-template #view_content>
        <span class="header">
            <button class="edit-button" id="edit" name="edit" (click)="editMode = true">Edit</button>
            <button class="delete-button" id="delete" name="delete" (click)="onDelete()">Delete</button>
        </span>
        <app-post-view [ngValue]="ngValue"></app-post-view>    
    </ng-template>
    <ng-template #edit_content>
        <app-edit-post [allTags]="allTags" [ngValue]="ngValue" (ngValueChange)="onPostEdited($event)"></app-edit-post>    
    </ng-template>
</div>
