<div class="tag-list-container">
<span class="all-tag-container" > Filter:
    <button 
    class="tag-wrapper" 
    (click)="toggleTag(tag)" 
    [ngClass]="{selected: selectedTags.includes(tag)}" 
    *ngFor="let tag of allTags">
        {{ tag }}
    </button>
</span>
</div>
<ng-container *ngFor="let post of filteredPosts">
    <app-post [ngValue]="post" [allTags]="allTags" (ngValueChange)="updatePost($event)" (ngOnDelete)="deletePost($event)"></app-post>
</ng-container>

<br>
<br>
<h2>New Post</h2>
<div class="post-container">
    <app-edit-post [allTags]="allTags" (ngValueChange)="onNewPost($event)"></app-edit-post>    
</div>