.tag-list-container {
    margin-top: 20px;
}

.all-tag-container {    
    
    margin: 20px;
    width: calc( 100% - 80px );
    text-overflow: ellipsis;

    .tag-wrapper {
        background-color: darkblue;
        color:white;
        border-radius: 4px;
        margin: 0 3px 3px 0;
        padding: 0 6px;

        &.selected {
            background-color: orange;

        }
    }
}
.post-container {
    border-width: 1px;
    border-color:grey;
    background-color:lightblue;
    box-shadow: 2px 5px 8px 10px lightgrey;
    padding: 20px;
    margin: 20px;
    width: calc( 100% - 80px );
}

h2 {
    margin-left:20px;
}