<p>post works!</p>
<ng-container *ngFor="let post of posts">
    <h1>{{post.title}}</h1>
</ng-container>
<mat-icon>pie_chart</mat-icon>
<mat-icon fontSet="material-icons-outlined">pie_chart</mat-icon>
<mat-icon fontSet="material-icons-round">pie_chart</mat-icon>
<mat-icon fontSet="material-icons-sharp">pie_chart</mat-icon>
<mat-icon fontSet="material-icons-two-tone">pie_chart</mat-icon>

todo: 
charge
research html manipulation
research cross css scripting
research material components I can use
fix rxjs issue ? @types
readme
commit
send email with <link rel="stylesheet" href="">
